// 颜色定义规范
$color-background = #fff
$color-theme = #f8f468
$color-theme-l = #f8fe96
$color-theme-d = #57ccc4
// $color-theme-d = #D4E7BA
$color-text = #fff
$color-title = #61a2eb
$color-border = #eeeeee
$color-border-d = #b6b6b6
$color-text-d = #7c7c7c
$color-text-dx = #666
$color-text-dd = #3c3c3c
$color-text-ddd = #866f6f
$color-text-l = #9c9c9c
$color-background-d = rgba(0, 0, 0, 0.5)
$color-highlight-background = #eeebe6
$color-dialog-background = #666
$color-sub-theme = #d93f30
$color-text-ll = rgba(255, 255, 255, 0.5)
$color-text-lll = rgba(255, 255, 255, 0.7)
$color-shadow = #cdcdcd
$color-background-l = rgba(0, 0, 0, 0.3)
$color-background-ll = rgba(0, 0, 0, 0.12)
$color-background-t = rgba(87,204,196,.5)
$color-background-tt = rgba(87,204,196,.8)
$color-background-td = rgba(250,244,104,.5)
$color-background-tdd = rgba(250,244,104,.8)
//字体定义规范
$font-theme = 'DFPWaWaW5-GB','STXinwei'
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 15px
$font-size-large = 16px
$font-size-large-x = 20px
$font-size-large-xl = 22px
$font-size-large-xll = 25px
$font-size-large-xlll = 27px
$font-size-large-xxl = 30px
$font-size-large-xx = 45px
$font-size-large-xxx = 70px
$font-title = 70px

//屏幕的寬度
$sm-width = 750px
$md-width = 970px
$lg-width = 1170px
$min-width = 1240px